<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.wipro.welcome.welcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>abc1</servlet-name>
  	<servlet-class>com.wipro.sgpg.E1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc1</servlet-name>
  	<url-pattern>/printe1</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abc2</servlet-name>
  	<servlet-class>com.wipro.scsc.E1</servlet-class>
  	<init-param>
  		<param-name>homeName</param-name>
  		<param-value>Welcome to Wipro!!!</param-value>
  	</init-param>
  	</servlet>
  	<context-param>
  		<param-name>email</param-name>
  		<param-value>9162082_Aayush@wipro.com</param-value>
  	</context-param>
  <servlet-mapping>
  	<servlet-name>abc2</servlet-name>
  	<url-pattern>/printe2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>abc3</servlet-name>
  	<servlet-class>com.wipro.cookie.E1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc3</servlet-name>
  	<url-pattern>/printe3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>abc4</servlet-name>
  	<servlet-class>com.wipro.cookie.E2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc4</servlet-name>
  	<url-pattern>/printe4</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>abc5</servlet-name>
  	<servlet-class>com.wipro.cookie.E3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc5</servlet-name>
  	<url-pattern>/printe5</url-pattern>
  </servlet-mapping>

</web-app>