<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>com.wipro.jsp_servlet.E1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/printe1</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abc1</servlet-name>
  <jsp-file>/BSP_E2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc1</servlet-name>
  <url-pattern>/test</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>abc2</servlet-name>
  <servlet-class>com.wipro.jsp_servlet.E2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc2</servlet-name>
  <url-pattern>/printe2</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abc3</servlet-name>
  <servlet-class>com.wipro.data.httpserv</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc3</servlet-name>
  <url-pattern>/com.wipro.data.httpserv</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abc4</servlet-name>
  <jsp-file>/bean_e3.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc4</servlet-name>
  <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abc5</servlet-name>
  <servlet-class>com.wipro.jsp_bean.E3</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc5</servlet-name>
  <url-pattern>/show_table</url-pattern>
  </servlet-mapping>
</web-app>